@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --purple: #9d00ff;
  --black: #000000;
  --base-transition: all 0.5s;
}

body {
  color: var(--white);
  background: var(--black);
  overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html,
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
